button, div, form, input {
			margin: 10px;
}

body {
    background: url("../images/GoT.png");
    font-size: 18px;
    line-height: 34px;
    font-family: sans-serif;
    background-size: 100% auto;
}

h1 {
	font-size: 60px;
	color: white;
}

label {
	color: white;

}
#addAnimal {
	font-size: 25px;
	padding: 7.5px;
}

.container {
	width: 100%;
	text-align: center;
}

.gifContainer {
	text-align: center;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.gifs {
display: inline-block;
margin-right: 0;
margin-left: 0;
}